.logo {text-align: center;}

.main {width: 90%; margin: 0 auto;}
.main .search {background-color: #eeeeee; padding: 1px 0; margin: 0 0 2px 0;}
.main .search p {margin: 0; text-align: center;}
.main .search input {display: block; margin: 1px auto 0; width: 303px;}
.main .search .buttons {text-align: center; margin: 0;}

.main .menu {display: flex; justify-content: space-between;}
.main .menu div {text-align: center;}
.main .menu div ul {margin: 0; padding: 0;}
.main .menu div ul li {list-style-type:  none;}
.main .menu div p {margin: 0;}

.main .menu .os {width: 37%; background-color: #80e5db;}
.main .menu .os ul {margin: 10px 0;}

.main .menu .info {width: 18%; margin: 0 2px; background-color: #70CCC2;}
.main .menu .info ul {margin: 7px 0px;}
.main .menu .info ul li {line-height: 14px;}
.main .menu .info ul li a {font-size: 13px;}

.main .menu .ebulletin {width: 45%; background-color: #62B3AA;}
.main .menu .ebulletin p {font-size: 13px;}
.main .menu .ebulletin input {width: 170px;}
.main .menu .ebulletin input::placeholder {color: #000;}
.main .menu .ebulletin .buttons {display: block;}
.main .menu .ebulletin .buttons a {font-size: 13px; margin-left: 13px;}