/* üst sağ */
/* apps boyutlandırma */
.apps{
    width: 18px;
}
/* buton */
#buton{
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    color: white;
    background-color: #1a73e8;
    border: 1px solid transparent;
    text-align: center;
    padding: 9px 15px;
    font-size: 14px ;
    border-radius: 4px;
    margin-left: 10px;
}
/* görsel mail yazısı */
.yazi{
    text-decoration: none;
    font-family: arial,sans-serif;
    font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;
    color: rgba(red, green, blue, alpha);
}
/* üst sag genel div */
.sagdiv{
    width: 403,5px;
    height: 48px;
    float: right;
}
.digerdiv{
    float: right;
    height: 48px;
    margin-right: 8px;
    margin-left: 20px;
}
nav{
    float: left;
    height: 48px;
}
.appsdiv{
    float: left;
    margin-right: 10px;
    margin-top: 8px;
}
.butondiv{
    float: right;
}
.gorseldiv{
    float: right;
    margin-top: 7px;
}
.gmaildiv{
    float: left;
    margin-top: 7px;
    margin-right: 10px;
}
/* header */
header{
    width: auto;
    height: 48px;
}
/* google resim */

.logodiv{
    width: 272px;
    height: 92px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 104px;
}
/*arama divi*/
.ortaaltdiv{
    width: auto;
    height: 140px;
    padding: 20px;
}
.ortaaltdiv1{
    width: 584px;
    height: 140px;
    margin-left:auto;
    margin-right: auto;
}
.aramadiv{
    width: 584px;
    height: 46px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}
.mikrofondiv{
    float: right;
}
.mikrofondiv img{
    width: 28px;
    margin-top: 10px;
    margin-right: 17px;
}
.buyutecdiv{
    width: 20px;
    margin-top: 13px;
    margin-left: 15px;
    fill: currentColor;
    color: #9aa0a6;
}
/*buton divi*/
.butonlardiv{
    width: 584px;
    height: 88px;
    padding-top: 20px;
}
.aramabuton{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    min-width: 54px;
    height: 36px;
}
/*footer bir üst*/
.footerust{
    width: auto;
    height: 17.600px;
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: rgba(0,0,0,.54);
    background-color: #f2f2f2;
}
footer{
    width: auto;
    height: 94.8px;
    background-color: #f2f2f2;
}
.footerıcust{
    padding-top: 15px;
    height: 48px;
}
.footeralt a{
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #70757a;
    text-decoration: none;
    padding: 15px;
}
.footerıcaltsag{
    float: right;
    padding-right: 30px;
}
.footerıcaltsol{
    float: left;
    padding-left: 30px;
}
/* boşluk divi */
.bosluk{
    width: auto;
    height: 196.6px;
}